<div class="nav-items">
  {%- for path in include.paths -%}
  {%- assign hyperpage = site.pages | where: "path", path | first -%}
  {%- if hyperpage.title %}
  <a class="nav-item" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.title | escape }}</a>
  {%- endif -%}
  {%- endfor %}

  <details class="theme-menu">
    <summary>Theme</summary>
    <div class="theme-options">
      <button type="button" data-set-theme="light">Light</button>
      <button type="button" data-set-theme="dark">Dark</button>
    </div>
  </details>
</div>
